*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
background: image-set(url(jds.jpg));
 
}
/* البوكس */

#login{
width: 350PX;
padding: 40PX;
border-radius: 15PX;
background: rgba(14, 48, 48, 0.1);
backdrop-filter: blur(10px);
box-shadow: 0 0 20px rgb(91, 4, 94);
}
/* العنوان */
#login h2{
    text-align: center;
    margin-bottom: 30px;
}
/* الانبوت */
#input-box{
    margin-bottom: 20px;
}
#input-box input{
   width: 100%; 
   padding: 25px;
   border: none;
   outline: none;
   border-radius: 25px;
   background: rgb(225, 255, 255,0.2);
   color: white;
}
/* الخيارات */
#options{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 20px;
    margin-left: 20px;
}


#options a{
    color: white;
    text-decoration-line: none;
    margin-right: 20px;
}
button{
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 25px;
    color: black;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10PX;
    
}
#register{
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}
#register a{
    color: rgb(91, 4, 94);
    text-decoration: none;
}


